body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #a3daf4;

}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul, ol {
    padding-left: 20px;
}

pre {
    background: #333;
    color: #fff;
    padding: 10px;
    overflow-x: auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #aecee2;
    color: #1c1b1b;
    position: relative;
    width: 100%;
}
